
/cmake-build-debug
/.idea
/cmake-build-release
/cmake-build-debug-clang
/cmake-build-debug-gnu
/cmake-build-release-clang
/cmake-build-release-gnu
/cmake-build-debug-mingw
/cmake-build-debug-msvc
/cmake-build-release-mingw
/cmake-build-release-msvc
